---
import { Contact } from "@/components/home/contact/contact";
import { Experience } from "@/components/home/experience/experience";
import { Hero } from "@/components/home/hero/hero";
import { Menu } from "@/components/home/menu/menu";
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <main>
    <Hero />
    <Menu client:load />
    <Experience client:load />
    <Contact client:load />
  </main>
</Layout>
